ul{
    list-style:none; /* removes the bullet points*/
    display:inline-flex; /* allows the links to be next to each other*/
    colo
}




body{
    background-color:#92aa58;
    text-align:center; /* centers all of the elements in the body */
    color:#baaf5d;
}

/** Styles for the "buttons" **/
a{
    border: 7px groove #baaf5d; /* sets the border to make it look like a button */
    text-decoration:none; /* removes the underline from the link */
    color:white;
    background-color:#58aa88;
}

li{
    margin:10px; /* adds space between links */
    background-color:white;
    font-size: 24px;
    color:white;
}

.featured{
    color:white;
    font-size:64px;
    background-color:#58aa88;;
}
