#header{
   color: lemonchiffon;
   background-color: black;
   width: 50%;
}

#main{font-size: 24px;
    background-color: honeydew;
    width:70%;

}

#body {
    background-image:https://codehs.com/images/lightbulb ;
}